body {background-color: #7162bb;}
title {font-size: 35pt; color: #f7941d; font-family: Luminari;}
h1 {font-size: 35pt; color: #f7941d; font-family: Luminari;}
h2 {font-size:14pt; color:#f7941d; Font-family: Luminari ;}
h3 {font-size:14pt; color:#f7941d; Font-family: Luminari ;}
h4 {font-size:14pt; color:#f7941d; Font-family: Luminari ;}
h5 {font-size:14pt; color:#f7941d; Font-family: Luminari ;}